<select class="selectpicker" data-live-search="true" title="Fields", id="airline-fields" aria-describedby="airline-fields-addon">
  <option value="type table airline submit">airlineID</option>
  <option value="type table airline submit">airlineName</option>
  <option value="type table airline submit">airlineAlias</option>
  <option value="type table airline submit">IATA</option>
  <option value="type table airline submit">ICAO</option>
  <option value="type table airline submit">callsign</option>
  <option value="type table airline submit">country</option>
  <option value="type table airline submit">active</option>
</select>