<select class="selectpicker w-100" data-live-search="true" aria-describedby="airline-display-addon" title="Display" multiple>
  <option value="type table airline">airlineID</option>
  <option value="type table airline">airlineName</option>
  <option value="type table airline">airlineAlias</option>
  <option value="type table airline">IATA</option>
  <option value="type table airline">ICAO</option>
  <option value="type table airline">callsign</option>
  <option value="type table airline">country</option>
  <option value="type table airline">active</option>
</select>