<select class="selectpicker" data-live-search="true" title="Fields", id="airport-fields">
  <option value="type table airport submit">airportID</option>
  <option value="type table airport submit">name</option>
  <option value="type table airport submit">city</option>
  <option value="type table airport submit">country</option>
  <option value="type table airport submit">IATA</option>
  <option value="type table airport submit">ICAO</option>
  <option value="type table airport submit">latitude</option>
  <option value="type table airport submit">longitude</option>
  <option value="type table airport submit">altitude</option>
  <option value="type table airport submit">timezone</option>
  <option value="type table airport submit">DST</option>
  <option value="type table airport submit">tz</option>
  <option value="type table airport submit">type</option>
  <option value="type table airport submit">source</option>
</select> 
