<select class="selectpicker w-100" data-live-search="true" title="Display" multiple>
  <option value="type table airport">airportID</option>
  <option value="type table airport">name</option>
  <option value="type table airport">city</option>
  <option value="type table airport">country</option>
  <option value="type table airport">IATA</option>
  <option value="type table airport">ICAO</option>
  <option value="type table airport">latitude</option>
  <option value="type table airport">longitude</option>
  <option value="type table airport">altitude</option>
  <option value="type table airport">timezone</option>
  <option value="type table airport">DST</option>
  <option value="type table airport">tz</option>
  <option value="type table airport">type</option>
  <option value="type table airport">source</option>
</select> 
