<select class="selectpicker w-100 sbn location-list" data-live-search="true" title="Location" id="location-<%- name -%>" aria-describedby="location-<%- name -%>-addon">
    <option></option>
</select>

<!-- halle-oppin airport -->