<select class="selectpicker w-100" data-live-search="true" title="Display" multiple>
    <option value="type table plane">name</option>
    <option value="type table plane">IATA</option>
    <option value="type table plane">ICAO</option>
    <option value="type table plane">planeID</option>
</select>