<select class="selectpicker" data-live-search="true" title="Fields" id="plane-fields">
    <option value="type table plane submit">name</option>
    <option value="type table plane submit">IATA</option>
    <option value="type table plane submit">ICAO</option>
    <option value="type table plane submit">planeID</option>
</select>