<select class="selectpicker w-100" data-live-search="true" title="Display" multiple id="route-display">
    <option value="type table route">airline</option>
    <option value="type table route">airlineID</option>
    <option value="type table route">srcAirport</option>
    <option value="type table route">srcAirportID</option>
    <option value="type table route">dstAirport</option>
    <option value="type table route">dstAirportID</option>
    <option value="type table route">codeshare</option>
    <option value="type table route">numStops</option>
    <option value="type table route">equipment</option>
    <option value="type table route">routeID</option>
</select>