<select class="selectpicker" data-live-search="true" title="Fields" id="route-fields">
    <option value="type table route submit">airline</option>
    <option value="type table route submit">airlineID</option>
    <option value="type table route submit">srcAirport</option>
    <option value="type table route submit">srcAirportID</option>
    <option value="type table route submit">dstAirport</option>
    <option value="type table route submit">dstAirportID</option>
    <option value="type table route submit">codeshare</option>
    <option value="type table route submit">numStops</option>
    <option value="type table route submit">equipment</option>
    <option value="type table route submit">routeID</option>
</select>