<select class="selectpicker w-100" data-live-search="true" title="Table" id="tables" aria-describedby="table-addon">
    <option value="type table airline submit">Airline</option>
    <option value="type table airport submit">Airport</option>
    <option value="type table plane submit">Plane</option>
    <option value="type table route submit">Route</option>
</select>