<select class="selectpicker w-100" data-live-search="true" title="Type" id="type">
    <option value="type table">List</option>
    <option value="type table">Highest</option>
    <option value="type location submit">Trip</option>
</select>