<div id="results-tab" class="container">
    <div class="row bg-secondary rounded text-center d-block text-white">
        <div class="container">
            <div class="row bg-dark">
            <% results.forEach(function(d) { %>
                <div class="col">
                    <%= d.type %>
                </div>
            <% }); %>
            </div>
            <div class="row">
            <% results.forEach(function(d) { %>
                <div class="col">
                    <%= d.value %>
                </div>
            <% }); %>
            </div>
        </div>
    </div>
</div>