<div class="searchBar row m-0" style="width:100%">
	<div class="container">
		<div class="row mb-2">
			<div class="collapse sb show col-sm" id="sb-type">
				<%- include("dropdowns/type.ejs"); -%>
			</div>
			<div class="input-group w-auto col-sm">
				<!-- <div class="input-group-prepend"> -->
					<!-- <span class="input-group-text" id="search-addon">(s)</span> -->
				<!-- </div> -->
				<input type="number" class="form-control" placeholder="x" aria-label="search" aria-describedby="limit-addon" id="limit">
			</div>
		</div>
		<div class="row mb-2 collapse sb" id="sb-table">
			<div class="input-group">
				<div class="col-10 pr-0">
					<%- include("dropdowns/tables.ejs"); -%>
				</div>
				<div class="input-group-append col-2 pl-0">
					<span class="input-group-text w-100" id="table-addon">(s)</span>
				</div>
			</div>
		</div>
		<% var things = ["airline", "airport", "route", "plane"] %>
		<% things.forEach(function(thing){ %>
		<div class="collapse sb" id="sb-<%- thing -%>">
			<div class="row mb-2">
				<div class="input-group w-auto col-6">
					<div class="input-group-prepend">
						<span class="input-group-text" id="airline-fields-addon">where</span>
					</div>
					<%- include("dropdowns/"+thing+"-fields.ejs"); -%>
				</div>
				<div class="input-group w-auto col-6">
					<div class="input-group-prepend">
						<span class="input-group-text" id="search-addon">is</span>
					</div>
					<input type="text" class="form-control sbn" placeholder="Constraint" aria-label="search" aria-describedby="search-addon" id="search-<%-thing-%>">
				</div>
			</div>
			<div class="row mb-2">
				<div class="input-group">
					<div class="input-group-prepend col-2 pr-0">
						<span class="input-group-text w-100" id="airline-display-addon">and show</span>
					</div>
					<div class="col-10 pl-0 sbn">
					<%- include("dropdowns/"+thing+"-display.ejs"); -%>
					</div>
				</div>
			</div>
		</div>
		<% }); %>
		<div class="collapse sb" id="sb-location">
			<div class="row mb-2">
			<div class="w-100">
				<div class="input-group">
					<div class="input-group-prepend col-2 pr-0">
						<span class="input-group-text w-100" id="location-src-addon">from</span>
					</div>
					<div class="col-4 pl-0 sbn">
					<%- include("dropdowns/location-temp-list.ejs", {name: "src"}); -%>
					</div>
					<div class="input-group-prepend col-2 pr-0">
						<span class="input-group-text w-100" id="location-src-addon">to</span>
					</div>
					<div class="col-4 pl-0 sbn">
					<%- include("dropdowns/location-temp-list.ejs", {name: "dst"}); -%>
					</div>
				</div>
			</div>
			</div>
		</div>
		<!-- <div class="collapse sb" id="sb-airline">
			<%- include("dropdowns/airline-display.ejs"); -%>
			<%- include("dropdowns/airline-fields.ejs"); -%>
		</div> -->
		<!-- <div class="collapse sb" id="sb-airport">
			<%- include("dropdowns/airport-display.ejs"); -%>
			<%- include("dropdowns/airport-fields.ejs"); -%>
		</div>
		<div class="collapse sb" id="sb-route">
			<%- include("dropdowns/route-display.ejs"); -%>
			<%- include("dropdowns/route-fields.ejs"); -%>
		</div>
		<div class="collapse sb" id="sb-plane">
			<%- include("dropdowns/plane-display.ejs"); -%>
			<%- include("dropdowns/plane-fields.ejs"); -%>
		</div> -->
		<!--<div class="collapse sb" id="sb-search">-->
		<!--</div>-->
		<!--div class="collapse sb" id="sb-limit"-->
		<!--/div-->
		<div class="row center collapse sb" id="sb-submit">
			<button id="goButton" type="button" class="offset-4 col-4 btn btn-danger">Search</button>
		</div>

		
		
		<!--
		<div>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Type
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">List</a>
					<a class="dropdown-item" href="#">Highest</a>
					<a class="dropdown-item" href="#">Trip</a>
				</div>
			</div>
		</div>
		
		<div>
			<div class="collapse" id="table-drop">
			</div>
		</div>
-->
	</div>
</div>















<!--
<p>
	<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
		Link with href 3
	</a>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		Button with data-target
	</button>
</p>
<div class="collapse" id="collapseExample">
	<div class="card card-body">
		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
	</div>
</div>

-->