
<div id="default-tab" class="card">
    <h4 class="card-header text-center bg-danger text-white">Defaults</h4>
    <div class="card-body">
        <%- include("search-help/searchBtn.ejs", {num: 1, des: "List of airports operating in the US."}); -%>
        <%- include("search-help/searchBtn.ejs", {num: 2, des: "List of airlines having 10 stops."}); -%>
        <%- include("search-help/searchBtn.ejs", {num: 3, des: "List of airlines operating with code share."}); -%>
        <%- include("search-help/searchBtn.ejs", {num: 4, des: "List of active airlines in the US."}); -%>
        <%- include("search-help/searchBtn.ejs", {num: 5, des: "Which country or territory has the highest number of airports."}); -%>
        <%- include("search-help/searchBtn.ejs", {num: 6, des: "Top 5 cities with most incoming airlines."}); -%>
        <%- include("search-help/searchBtn.ejs", {num: 7, des: "Find a trip that connects Thule Air Base to Baker Lake Airport."}); -%>
        <%- include("search-help/searchBtn.ejs", {num: 8, des: "Find a trip that connects Goroka Airport and EgilsstaA ir Airport with less than 7 stops."}); -%>
        <%- include("search-help/searchBtn.ejs", {num: 9, des: "Find all cities reachable within 3 hops of a Goroka Airport."}); -%>
    </div>
</div>