<div class="card">
	<h4 class="card-header text-center bg-danger text-white">Usage</h4>
	<div class="container card-body">
			<div name="usage-search" class="row">
				<h4 class="col-12">Steps</h4>
				<h6 class="col-12" style="margin-left:30px">    Select Type</h6>
				<h6 class="col-12" style="margin-left:30px">    Select Table</h6>
				<h6 class="col-12" style="margin-left:30px">    Select Constraint</h6>
				<h6 class="col-12" style="margin-left:30px">    Input Constraint Value</h6>
				<h6 class="col-12" style="margin-left:30px">    Select Fields to Display</h6>
				<h6 class="col-12" style="margin-left:30px">    Press Search</h6>

			</div>
			<div name="usage-types" class="row">
				<h4 class="col-12">Types</h4>
				<h6 class="col-12" style="margin-left:30px">    Select List</h6>
				<h6 class="col-12" style="margin-left:30px">    To Retrieve Rows</h6>
				<h6 class="col-12" style="margin-left:30px">    With Specified Constraints</h6>
				<h6 class="col-12" style="margin-left:30px">    Select Highest</h6>
				<h6 class="col-12" style="margin-left:30px">    To Most Common</h6>
				<h6 class="col-12" style="margin-left:30px">    Occurance in Rows</h6>
				<h6 class="col-12" style="margin-left:30px">    With Specified Constraints</h6>
				<h6 class="col-12" style="margin-left:30px">    Select Route</h6>
				<h6 class="col-12" style="margin-left:30px">    To Retrieve Route</h6>
				<h6 class="col-12" style="margin-left:30px">    With Specified Constraints</h6>
			</div>
			<!--
			<div name="usage-defaults" class="row">
				<h4 class="col-12">Steps</h4>
				<h6 class="col-12" style="margin-left:30px">    Select Default</h6>
				<h6 class="col-12" style="margin-left:30px">    Options to Retrieve</h6>
				<h6 class="col-12" style="margin-left:30px">    Data from Server</h6>
				<h6 class="col-12" style="margin-left:30px">    Or View Routes</h6>	
			</div>
			<div name="usage-map" class="row">
				<h4 class="col-12">Steps</h4>
				<h6 class="col-12" style="margin-left:30px">    Press Map to</h6>
				<h6 class="col-12" style="margin-left:30px">    Toggle Map</h6>
				<h6 class="col-12" style="margin-left:30px">    Press Reset Map</h6>
				<h6 class="col-12" style="margin-left:30px">    To Reset Map</h6>
				<h6 class="col-12" style="margin-left:30px">    Press Clear Map</h6>
				<h6 class="col-12" style="margin-left:30px">    To Clear Map</h6>
	
			</div>
		
		<div name="codeShare" class="row">
			<h4 class="col-12">codeshare usage:</h4>
			<h6 class="col-12" style="margin-left:30px">    codeshare=yes</h6>
			<h6 class="col-12" style="margin-left:30px">    codeshare=no</h6>
		</div>
		<div name="numStops" class="row">
			<h4 class="col-12">numStops usage:</h4>
			<h6 class="col-12" style="margin-left:30px">    numStops=4</h6>
			<h6 class="col-12" style="margin-left:30px">    numStops&lt;4</h6>
			<h6 class="col-12" style="margin-left:30px">    numStops&gt;4</h6>
		</div>
		<div name="countries" class="row">
			<h4 class="col-12">country usage:</h4>
			<h6 class="col-12" style="margin-left:30px">    country=yes</h6>
			<h6 class="col-12" style="margin-left:30px">    country=no</h6>
		</div>
		-->
	</div>
</div>