<!DOCTYPE html>
<html>
    <head>
        <meta charset="itf-8">
        <title>Flight Search App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
        <!--leaflet css and js-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet"> 


        <script src="scripts/myQuery.js"></script>
        <script src="scripts/searchBar.js"></script>
        <script src="scripts/dataGen.js"></script>
    </head>
    <!-- <body style="background-color: #ffdbdb;"> -->
    <body>
        <!--<script type="text/javascript" src="node_modules/popper.js/dist/popper.min.js"></script>-->
		
		
		<div name="mainPage" class="temp container mw-100">
            <style>
                .r {
                    color: red;
                }
                .g {
                    color: green;
                }
            </style>
            <div class="row"><h1 class="w-100 text-center pb-2" style="font-family:'Pacifico', cursive;"><span class="g">Flight</span> <span class="r">Search</span> <span class="g">App</span></h1></div>
			<div class="row">
				<div name="searchDefaults" class="col-2">
                        <%- include("ejs/searchDefaults.ejs"); -%>
				</div>
				<div name="searchBarAndResults" class="col-8 pb-5">
                    <div class="card">
					<div name="searchBar" class="card-header bg-success text-white">
                        <div class="">
                            <h5 class="card-title">Find</h5>
                            <p class="card-text"><%- include("ejs/searchBar.ejs"); -%></p>
                        </div>
					</div>
					<div name="searchResults" class="mt-1 card-body" style="overflow: auto;">
                        <!-- <h5 class="card-header text-center">Results</h5> -->
                        <div class="">
                        <table id="results-area" class="display" style="overflow:scroll; overflow: auto;">
                            <thead>
                                <tr>
                                    <th>Jingle</th>
                                    <th>Bells</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Santa</td>
                                    <td>Smells</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
				</div>
				<div name="searchOptions" class="col-2 h-100">
					<%- include("ejs/searchOptions.ejs"); -%>
				</div>
            </div>
        </div>
        <div class="fixed-bottom">
            <button class="btn btn-danger border-success" type="button" data-toggle="collapse" data-target="#mapcoll" aria-expanded="false" aria-controls="mapcoll" id="mapToggle">Map</button>
            <button class="btn btn-success border-danger" type="button" id="resetMapButton">Reset Map</button>
            <button class="btn btn-danger border-success" type="button" id="clearMapButton">Clear Map</button>
            <!---<button class="btn btn-primary" type="button" id="drawButton">Draw Route</button>
            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#mapcoll" aria-expanded="false" aria-controls="mapcoll">Map</button> --->
            <div id="mapcoll" class="card card-body collapse show">
                <div id="mapid" class="" style="height:270px;"></div>
            </div>
        </div>  
        
        <!-- Modal -->
        <div class="modal" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Please Wait...</h5>
            </div>
            <div class="modal-body">
               <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div> 
            </div>
            </div>
        </div>
        </div>
        
        <script src="renderer.js"></script>
        <!-- testing out default queries -->
        <script>
            document.getElementById("resetMapButton").addEventListener("click", () => {
                resetMap();
            });
            document.getElementById("clearMapButton").addEventListener("click", () => {
                clearMap();
            });
            //document.getElementById("drawButton").addEventListener("click", () => {drawRoutes()});
            document.getElementById("goButton").addEventListener("click", () => {makeDecision()});
            document.getElementById("default-1").addEventListener("click", () => {myQuery("SELECT * FROM airports WHERE country = \"China\";")});
            document.getElementById("default-2").addEventListener("click", () => {myQuery("SELECT airlineName, numStops FROM airlines t1 INNER JOIN routes t2 on t1.airlineID = t2.airlineID where numStops = " + 1 + " GROUP BY airlineName;")});
            document.getElementById("default-3").addEventListener("click", () => {myQuery("SELECT airlineName, codeShare FROM airlines t1 INNER JOIN routes t2 on t1.airlineID = t2.airlineID WHERE codeShare=\"Y\" GROUP BY airlineName;")});
            document.getElementById("default-4").addEventListener("click", () => {myQuery("SELECT * FROM airlines WHERE active=\"Y\" AND country = \"United States\";")});
            document.getElementById("default-5").addEventListener("click", () => {myQuery("SELECT country, COUNT(*) AS occurrences FROM airports GROUP BY country ORDER BY occurrences DESC LIMIT 1;")});
            document.getElementById("default-6").addEventListener("click", () => {myQuery("SELECT city, COUNT(city) AS occurrences FROM airports t1 INNER JOIN routes t2 on t1.airportID = t2.srcAirportID or t1.airportID = t2.dstAirportID GROUP BY city ORDER BY occurrences DESC LIMIT 10;")});
            document.getElementById("default-7").addEventListener("click", () => {
                var mapDiv = document.getElementById('mapcoll');
                var toCheck = mapDiv.getAttribute('class');
                if(!toCheck.includes('show')) {
                    $(function() {
                    $('#mapToggle').click();
                    })
                }
                ipcRenderer.send('asynchronous-message', {isRoute: true, src: "10", dst: "29", hops: $('#limit').val()});
                //$('#location-src').val()

            });
            document.getElementById("default-8").addEventListener("click", () => {
                var mapDiv = document.getElementById('mapcoll');
                var toCheck = mapDiv.getAttribute('class');
                if(!toCheck.includes('show')) {
                    $(function() {
                    $('#mapToggle').click();
                    })
                }
                ipcRenderer.send('asynchronous-message', {isRoute: true, src: "1", dst: "12", hops: 7});

            });
            document.getElementById("default-9").addEventListener("click", () => {
                ipcRenderer.send('asynchronous-message', {isSpread: true, src: 1, hops: 3});
            });
            //window.addEventListener("load", () => {myQuery("SELECT * FROM routes WHERE routeID = 46073;")});
        </script>

        <!--testing leaflet map-->
        <script src="scripts/leafletMap.js"></script>

		<!---
        <h2>Fuck</h2>
        <h3>This</h3>
        <h4>Gay</h4>
        <h5>Shit</h5>
        <h6>i just wanna die</h6>
        <p><%= test %></p>
		<div>
            <input type="text" placeholder="src airport" name="src" id="srcA">
            <input type="text" placeholder="dst airport" name="dst" id="dstA">
        </div>
        <div>
            <input type="text" placeholder="number of stops" name="numstops" id="nstops">
            <input type="text" placeholder="airline" name="airlines" id="airline">
            <input type="text" placeholder="places to avoid" name="avoid" id="avoiding">
            <button id="searchButton">Search</button>
        </div>
		--->
    </body>
</html>