<div class="searchBar row m-0" style="width:100%">
	<div>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Type
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="#">List</a>
			<a class="dropdown-item" href="#">Highest</a>
			<a class="dropdown-item" href="#">Trip</a>
			</div>
		</div>
	</div>
	<div>
		<div class="collapse" id="table-drop">
		</div>
	</div>
</div>