
<div id="default-tab" class="container bg-secondary">
    <div class="row bg-dark rounded text-center d-block text-white"><h4>Defaults</h4></div>
    <%- include("ejs/search-help/searchBtn.ejs", {num: 1, des: "List of airports operating in the US."}); -%>
    <%- include("ejs/search-help/searchBtn.ejs", {num: 2, des: "List of airlines having 10 stops."}); -%>
    <%- include("ejs/search-help/searchBtn.ejs", {num: 3, des: "List of airlines operating with code share."}); -%>
    <%- include("ejs/search-help/searchBtn.ejs", {num: 4, des: "List of active airlines in the US."}); -%>
    <%- include("ejs/search-help/searchBtn.ejs", {num: 5, des: "Which country or territory has the highest number of airports."}); -%>
    <%- include("ejs/search-help/searchBtn.ejs", {num: 6, des: "Top 5 cities with most incoming airlines."}); -%>
    <%- include("ejs/search-help/searchBtn.ejs", {num: 7, des: "Find a trip that connects X to Y."}); -%>
    <%- include("ejs/search-help/searchBtn.ejs", {num: 8, des: "Find a trip that connects X and Y with less than Z stops."}); -%>
    <%- include("ejs/search-help/searchBtn.ejs", {num: 9, des: "Find all cities reachable within D hops of a X."}); -%>
</div>