<div class="container bg-secondary">
    <div class="row bg-dark rounded text-center d-block text-white">
		<h4>Usage</h4>
	</div>
	<div name="Steps" class="row">
		<h6 class="col-12" style="margin-left:40px">    codeshare=yes</h6>
		<h6 class="col-12" style="margin-left:40px">    codeshare=yes</h6>

	</div>
	<!--
	<div name="codeShare" class="row">
		<h4 class="col-12">codeshare usage:</h4>
		<h6 class="col-12" style="margin-left:40px">    codeshare=yes</h6>
		<h6 class="col-12" style="margin-left:40px">    codeshare=no</h6>
	</div>
	<div name="numStops" class="row">
		<h4 class="col-12">numStops usage:</h4>
		<h6 class="col-12" style="margin-left:40px">    numStops=4</h6>
		<h6 class="col-12" style="margin-left:40px">    numStops&lt;4</h6>
		<h6 class="col-12" style="margin-left:40px">    numStops&gt;4</h6>
	</div>
	<div name="countries" class="row">
		<h4 class="col-12">country usage:</h4>
		<h6 class="col-12" style="margin-left:40px">    country=yes</h6>
		<h6 class="col-12" style="margin-left:40px">    country=no</h6>
	</div>
	-->
</div>